body {
    background: #2B1212;
    color: #fff;
}

h1, span {
    color: #F6B24C;
}

a {
    // color: #AABFDA;
}

input:focus {
    outline: none;
    box-shadow: none;
}

::placeholder { /* 選擇所有的 placeholder */
    color: $mybtn !important;
}

.form-check-input:checked{
    background-color: $checked;
}

// 清除所有項目
.clear {
    color: $clearCompleted;
    position: absolute;
    top: 1.3rem;
    left: 0.4rem;
}

// 登出
.signOut{
    color: $gray-400;
    position: absolute;
    top: 1.3rem;
    right: 0.4rem;
}


.card {
    background-color: #F6B24C;
}
// 卡片導航欄
.navTodo{
    color: $gray-700;
}
.allBadge,.doneBadge,.undoneBadge{
    position: absolute;
    top: 0;
    left: 85%;
}

.active{
    background-color: $cardNavActive !important;
}

.card-body{
    padding: 0;
}

// 待辦列表項目
.item-list{
    // border-left: 1px solid #fff;
    // border-right: 1px solid #fff;
    // border-bottom: 1px solid #fff;

    .list-group-item {
        background-color: #6E1610;
        .task-name {
            color: #F6B24C;
        }
    
        .trash {
            color: #D15628;
    
            &:hover {
                color: red;
            }
        }
    }
}
/* 针对WebKit浏览器如Chrome */
.item-list::-webkit-scrollbar {
    display: none;
}
.item-list {
    scrollbar-width: thin;
}


// 代辦事項文字區塊
.task-name {
    display: inline-block;
    position: relative;
    transition: color 0.3s;
    &.striked { // 刪除線
        color: #E07763 !important;
        // color: rgba(0, 0, 0, 0.5) !important;
    }

    &.striked::before,
    &.unstriked::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        background: #F6B24C;
        // background: rgba(0, 0, 0, 0.5);
    }

    &.striked::before {
        animation: strikeThrough 0.3s forwards;
    }

    &.unstriked::before {
        animation: unstrike 0.3s forwards;
    }
}
@keyframes strikeThrough {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
@keyframes unstrike {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}



// 新增待辦事項
.newitem{
    border: 5px solid $mypopover !important;
    border-radius: 10px 0 0 10px !important;
    color: $myInputText !important;
    background-color: $myInput !important;
    
}

// 送出按鈕
.addButton {
    border: 1.5px solid $myaddBtn;
    background-color: $myaddBtn;
    color: #E07763;
    &:hover{
        background-color: #D15628;
    }
}


// 更新任務數量
.pending-count {
    color: #5C1010;
}